# Node modules
node_modules/
npm-debug.log
yarn-error.log

# Environment variables
.env
.env.local
.env.development
.env.test
.env.production

# Logs
logs/
*.log
logs.txt

# Machine Learning (Python) Folder
ml/
ml/**/*.pyc       # Ignore Python bytecode files
ml/__pycache__/    # Ignore Python cache directories

# Python virtual environment
ml/venv/           # Ignore Python virtual environment

# Jupyter Notebooks checkpoints
.ml/checkpoints/    # Ignore Jupyter notebook checkpoints
